<!DOCTYPE html>
<html>
	<body>
		<h1>Confirmez votre email</h1>
		<p>
			Cliquez sur ce lien pour activer votre compte :<br>
			<a href="{{ signedUrl }}">Confirmer mon email</a>
		</p>
	</body>
</html>
