<!DOCTYPE html>
<html>
	<body>
		<h1>Réinitialisation de mot de passe</h1>
		<p>
			Voici votre token de réinitialisation :
			{{ resetToken }}<br>
			<a href="{{ url('app_reset_password_confirm', {token: resetToken}) }}">
				Choisir un nouveau mot de passe
			</a>
		</p>
	</body>
</html>
